.global-nav,
.nav,
.aside,
#footer,
#landing-bar,
.group-misc,
.pl3,
.txd,
.extra,
h2{
    display: none !important;
    visibility: hidden !important;
}

body,
.topic-content .topic-doc,
#wrapper,
.article,
#sep {
    width: 100% !important;
}

a.lnk-fav,
a.lnk-reply,
.user-face a,
.from a,
.pubdate a,
.bg-img-green h4 a,
a.react-like {
    pointer-events: none !important;
}

.image-wrapper img {
    width: auto !important;
    max-width: 100% !important;
}

.article {
    padding-right: 0px !important;
}

#wrapper.landing {
    padding-bottom: 0px !important;
}

.back-to-top {
    right: 0px !important;
    left: 0px !important;
    margin: auto !important;
}

#content .article {
    margin-bottom: 0em !important;
}